<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcappantonespo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/65226ca2-36ef-4240-8991-1af5b82b7b72/resourceGroups/ManagedIdentityRG/providers/Microsoft.Web/sites/funcappantonespo</ResourceId>
    <UserName>$funcappantonespo</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcappantonespo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>